#!/bin/bash

/usr/bin/java -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.port=5555 -jar {{jar_file.dest}} {{external_ip}}:{{external_port}} {{service_config}}
